.super-main {
    margin: 10px 50px 0px 0px;
}

.el-menu-item-group__title {
    padding-left: 0px;
    padding: 0px!important
}

.el-header {
    background-color: #ffffff;
    color: #333;
    text-align: left;
    line-height: 60px;
    border-bottom: solid 1px #e6e6e6;
}

.el-aside {
    color: #333;
    text-align: left;
    line-height: 200px;
    width: 205px!important;
    padding-right: 15px;
}

.el-main {
    color: #333;
    text-align: left;
    min-height: 900px;
    padding: 0px 20px;
}

.main-title {
    text-align: left;
    font-size: 22px;
    padding-bottom: 20px;
    color: #000000;
    display: flex;
    position: relative;
}

.main-title .desc {
    flex: 1
}

.main-title .operate {
    flex: 6;
    text-align: right
}

.main-content {
    text-align: left;
    font-size: 16px
}

.full-button {
    width: 100%;
    margin-top: 30px;
    font-size: 16px
}

.no-body-card .el-card__body {
    display: none!important
}

.no-body-card .el-card__header {
    padding: 10px 20px;
}

.item {
    /*margin-bottom: 18px;*/
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 100%;
}

.font-grey {
    color: #999999
}

.demo-table-expand {
    font-size: 0;
}

.demo-table-expand label {
    width: 120px;
    color: #99a9bf;
}

.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.el-card__header{
    padding: 10px 20px!important
}
.dialogClass{width: 600px!important;height: 460px!important}
.navbar-light .navbar-nav .nav-link{color:#333!important;}
.feedback .el-input__inner{border: 1px solid #B0E0E6}
.feedback .el-textarea__inner{border: 1px solid #B0E0E6}